.play_div{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.popup_div{
    box-shadow: 0 0 1px;
    padding: 2px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
.play_image{
    width: 13rem;
    height: 10rem;
}